<!-- ***************Start Home Section****************** -->
<section id="header">
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="row">
        <div class="col">
          <div class="home-caption">
            <div class="home-title text-white text-center">
              <h1>Private Tours And Local Tours Guides</h1>
              <p>
                Connect with local tour guides and enjoy private tours from all
                over the world<br />request an itinerary and customize your tour
              </p>
            </div>
            <div class="home-search position-relative">
              <input type="text" class="form-control" placeholder="Where to?" />
              <button class="btn text-white">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***************End Home Section****************** -->