<!-- <p>statistics works!</p> -->
<section id="aboutUs__numberSection" class="mt-5 text-light bg-dark text-center">
    <div class="container">
        <div class="row  numberSection__flex d-flex align-items-center">
            <div class="col aboutUs_Responsive">
                <div class="num fw-bold">2,000<span>+</span></div>
                <div class="fs-4">tours & activities</div>
            </div>
            <div class="col aboutUs_Responsive">
                <div class="num fw-bold">1,000<span>+</span></div>
                <div class="fs-4" >local guides</div>
            </div>
            <div class="col aboutUs_Responsive">
                <div class="num fw-bold">53,000<span>+</span></div>
                <div class="fs-4"> already joined</div>
            </div>
            <div class="col aboutUs_Responsive">
                <div class="num fw-bold">10,000<span>+</span></div>
                <div class="fs-4">reviews</div>
            </div>
        </div>
    </div>

</section>