<section id="home">
  <div
    class="container d-flex justify-content-center align-items-center vh-100"
  >
    <div class="row">
      <div class="col">
        <div class="home-caption">
          <div class="home-title text-white text-center">
            <h1>Private Tours And Local Tours Guides</h1>
            <p>
              Connect with local tour guides and enjoy private tours from all
              over the world<br />request an itinerary and customize your tour
            </p>
          </div>
          <div class="home-search position-relative">
            <input type="text" class="form-control" placeholder="Where to?" />
            <button class="btn text-white">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="destination">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="destination-caption text-center">
          <h2>OUR DESTINATIONS</h2>
          <hr />
          <p>
            We've have chosen our destinations not only because they are
            stunning, but also because they are locations off the main tourist
            trail where we can make a difference. We currently create an impact
            in 20 governorate across Egypt.
          </p>
        </div>
      </div>
    </div>
    <div class="row row-second">
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="destination-card position-relative">
          <img
            src="../../../assets/Images/home/Cairo-5.jpg"
            class="w-100"
            alt=""
          />
          <div class="overlay position-absolute top-0 w-100 h-100">
            <div class="overlay-caption text-white text-center">
              <h3>Cairo</h3>
              <hr />
              <p>History of Egypt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="destination-card position-relative">
          <img
            src="../../../assets/Images/home/alexandria-3.jpg"
            class="w-100"
            alt=""
          />
          <div class="overlay position-absolute top-0 w-100 h-100">
            <div class="overlay-caption text-white text-center">
              <h3>Alex</h3>
              <hr />
              <p>History of Egypt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="destination-card position-relative">
          <img
            src="../../../assets/Images/home/Noras-Beach-Hotel-Port-Said-Exterior.jfif"
            class="w-100"
            alt=""
          />
          <div class="overlay position-absolute top-0 w-100 h-100">
            <div class="overlay-caption text-white text-center">
              <h3>Port Said</h3>
              <hr />
              <p>History of Egypt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <div class="destination-card position-relative">
          <img
            src="../../../assets/Images/home/Fayoum.jpeg"
            class="w-100"
            alt=""
          />
          <div class="overlay position-absolute top-0 w-100 h-100">
            <div class="overlay-caption text-white text-center">
              <h3>Fayoum</h3>
              <hr />
              <p>History of Egypt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="impact">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="impact-caption">
          <h2>OUR IMPACT</h2>
          <hr>
          <p>
            <span>100% of the money</span> asked by locals is directly paid to
            them
          </p>
        </div>
      </div>
    </div>
    <div class="row row-second">
      <div class="col">
        <div class="impact-details">
          <div>
            <div><i class="fa-solid fa-user-group"></i></div>
            <div>
              <span>4000</span>
              <h5>Locals</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="impact-details">
          <div>
            <div><i class="fa-solid fa-earth-americas"></i></div>
            <div>
              <span>20</span>
              <h5>Countries</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="impact-details">
          <div>
            <div><i class="fa-solid fa-plane-up"></i></div>
            <div>
              <span>2000</span>
              <h5>Travelers</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="impact-details">
          <div>
            <div><i class="fa-solid fa-location-dot"></i></div>
            <div>
              <span>3000</span>
              <h5>Tours</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
