<footer id="footer" class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div>
          <h4 class="text-center">Quick Links</h4>
        </div>
        <hr />
        <div class="d-flex justify-content-evenly">
          <div>
            <ul class="footer-ul">
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
            </ul>
          </div>
          <div>
            <ul class="footer-ul">
              <li><a href="">Join Us</a></li>
              <li><a href="">Destinations</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div>
          <h4 class="text-center">Destinations</h4>
        </div>
        <hr />
        <div class="d-flex justify-content-evenly">
          <div>
            <ul class="footer-ul">
              <li><a href="">Alexandria</a></li>
              <li><a href="">Cairo</a></li>
              <li><a href="">Fayoum</a></li>
              <li><a href="">Port Said</a></li>
            </ul>
          </div>
          <div>
            <ul class="footer-ul">
              <li><a href="">Alexandria</a></li>
              <li><a href="">Cairo</a></li>
              <li><a href="">Fayoum</a></li>
              <li><a href="">Port Said</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div>
          <h4 class="footer-connect text-center">Connect</h4>
        </div>
        <div class="footer-socialMedia">
          <div class="socialMedia text-center">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</footer>
