<section id="signUp">
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-5">
        <div class="mb-5">
          <h3 class="text-center">Create an account</h3>
        </div>

        <div>
          <form>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Your Name"
              />
            </div>

            <div class="mb-3">
              <input
                type="tel"
                class="form-control"
                placeholder="Enter Your Phone Number"
              />
            </div>

            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Example@mail.com"
              />
            </div>

            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Enter Your Password"
              />
            </div>
            <div class="remember-div d-flex justify-content-between">

              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />

                <label class="form-check-label" for="exampleCheck1"
                  >Remember me</label
                >
              </div>

              <span>Forgot Password?</span>

            </div>

            <button type="button" class="btn btn-dark w-100 my-3">
              Sign Up
            </button>
            <div class="mt-2">
              <p class="form-parg text-center">Or</p>
            </div>
            <div class="d-flex mb-2">
              <div class="fb-btn w-50 me-3">
                <button type="button" class="brdr btn w-100">
                  <span class="ms-3">Signup with facebook</span>
                </button>
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="google-btn w-50">
                <button type="button" class="brdr btn w-100">
                  Signup with google
                </button>
                <i class="fa-brands fa-google"></i>
              </div>
            </div>

            <div class="text-center">
              <span>Already have an account? <a href="">Login</a></span>
            </div>
          </form>
        </div>
      </div>

      <div class="col-5">
        <div class="signUp-img">
          <img
            src="assets/Images/signUp/pexels-taryn-elliott-3889891.jpg"
            class="w-100"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
