/*----------------- destination section Start--------------- */
#destination {
    margin: 80px 0px;
}

.destination-caption hr {
    width: 35%;
    margin: 1rem auto;
}

.row-second {
    margin-top: 40px;
}
/*----------------- destination section End--------------- */
