
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


#addToCart {
  margin-top: 100px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}





/*-------------- Review Order card -------------*/


.row-card {
  width: 80%;
}


/*-------------- Review Order card -------------*/

.reviewOrder-card {
  box-sizing: border-box;
  padding: 1rem;
  width: 25%;
  height: fit-content;
  position: sticky;
  top: 15%;

.reviewOrder-card {
  box-sizing: border-box;
  border: 1px solid #d0cfcf;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  border-radius: 15px;
  padding: 16px;
  width: 25%;
  height: fit-content;

}

.reviewOrder-card-details {
  display: flex;
  justify-content: space-between;
}




.reviewOrder-card-details p {
  margin-bottom: 0.3rem;
}


.reviewOrder-card-details .text {
  color: var(--lightgray-color);

.reviewOrder-card-details p {
  margin-bottom: 5px;
}

.reviewOrder-card-details .bold {
  font-weight: 700;
  margin-bottom: 10px;
}

.reviewOrder-card-details .text {
  color: #a4a0a0;

}

.btn-checkOut-container {
  display: flex;
  justify-content: center;

  align-items: center;
}

.btn-checkOut {
  background-color: var(--blue-color);
  width: 70%;
  height: 3rem;
  color: white;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .cardsContainer{
    width: 80%;
  }
  .reviewOrder-card {
    width: 35%;
  }
}

@media (max-width: 769px) {
  .container {
    flex-wrap: wrap;
  }
  .cardsContainer{
    width: 90%;
  }
  .reviewOrder-card {
    width: 70%;
  }
}

/*-------------- end of Review Order card -------------*/

}

.btn-checkOut {
  background-color: #009eb7;
  width: 70%;
  height: 45px;
  color: white;

  border-radius: 10px;
}

