@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#addToCart {
  margin-top: 100px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}



/*-------------- Review Order card -------------*/

.row-card {
  width: 80%;
}

.reviewOrder-card {
  box-sizing: border-box;
  border: 1px solid #d0cfcf;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  border-radius: 15px;
  padding: 16px;
  width: 25%;
  height: fit-content;
}

.reviewOrder-card-details {
  display: flex;
  justify-content: space-between;
}

.reviewOrder-card-details p {
  margin-bottom: 5px;
}

.reviewOrder-card-details .bold {
  font-weight: 700;
  margin-bottom: 10px;
}

.reviewOrder-card-details .text {
  color: #a4a0a0;
}

.btn-checkOut-container {
  display: flex;
  justify-content: center;
}

.btn-checkOut {
  background-color: #009eb7;
  width: 70%;
  height: 45px;
  color: white;

  border-radius: 10px;
}