<section id="whereTo_meet">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2 class="whereTo_meet_title fw-bold">Where will we meet</h2>
        <p class="whereTo_meet_description mb-4">
          We will meet at Downtown's, waterfront Corniche Road, and from there
          the experience will start.
        </p>
        <!-- insert map -->
<!-- using a responsive iframe -->
<div class="responsive-map-container">
    <!-- place the iframe code between here... -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d218360.36365069315!2d29.814800472050095!3d31.224034934960695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c49126710fd3%3A0xb4e0cda629ee6bb9!2sAlexandria%2C%20Alexandria%20Governorate!5e0!3m2!1sen!2seg!4v1676810852039!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- ... and here -->
  </div>
  <!-- /insert map -->
          <br><br>
          <hr>
       
      </div>
    </div>
  </div>
</section>
