@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Manrope:wght@300&family=Poppins:wght@300&display=swap');

/* Hager variables
--fontFamily : "Inter";
--fs-xl:3.8rem;
--fs-lg:3rem;
--fs-md:1.4rem;
--fs-s-md:1.3rem;
--pt:8rem;
--pt-s:4rem;
--pt-xs:2rem;
--white-color:#fff;
--light-gray:#3c3a3a;
--baby-blue :#009EB7;
--baby-blue-hover :#048599;
--full-viewPort :100vh;
--text-captalized: capitalize;
--text-centered: center; */

#whereTo_meet {
--full-viewPort :100vh;
--fontFamily : "Inter";
--fs-lg:3rem;
--fs-xs-md:1rem;
font-family: var(--fontFamily);
min-height: var(--full-viewPort);
}
.whereTo_meet_title {
    font-size: var(--fs-lg);
}
.whereTo_meet_description {
    font-size: var(--fs-xs-md);
}
.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}