<div id="bookCard" class="container">
  <div class="card shadow px-2" style="width: 22rem">
    <div class="card-body px-3">
      <div class="d-flex mb-4 mt-3">
        <a href="#" class="btn btn-primary sellBtn rounded-pill px-5"
          >Likely to sell out</a
        >
      </div>
      <div>
        <span class="fw-bold">$2,965</span> per person <br />
        <div>
          <i class="fa-solid fa-star stars"></i>
          <i class="fa-solid fa-star stars"></i>
          <i class="fa-solid fa-star stars"> </i
          ><i class="fa-solid fa-star stars"></i>
          <i class="fa-regular fa-star stars"></i>
        </div>
        <form action="/" method="post">
          <div class="d-flex flex-column gap 3">
            <input
              type="date"
              class="my-2 mt-4 py-2 mb-3"
              name="date"
              style="padding: 6px"
              required
            />
            <input
              type="time"
              class="mb-2 py-2 mb-3"
              name="time"
              style="padding: 6px"
              required
            />
            <input
              type="number"
              class="mb-4 py-2 mb-3"
              name="adultsCount"
              placeholder="Adults"
              style="padding: 6px"
              required
            />
          </div>
        </form>

        <div class="btns d-flex flex-column">
          <div class="mt-4">
            <a
              href="#"
              class="btn btn-outline-primary mb-2 addToCart_btn w-100 text-capitalize fw-bold"
              >add to cart</a
            >
          </div>
          <div>
            <a
              href="#"
              class="btn btn-primary book_btn w-100 mb-3 text-capitalize fw-bold"
              >book now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
