<section id="reasonsToBook">
  <div class="container">
    <div class="row">
      <div class="col-8">
      <h2 class="mb-5 resaons_title fw-bold">
        4 reasons to book this experience
      </h2>
    </div>
    <div class="row">
      <div class="reasons">
        <div class="mb-5">
          <i class="fa-solid fa-check check pe-3"></i>Local safety regulations
          are put in place to ensure your comfort.
        </div>
        <div class="mb-5">
          <i class="fa-solid fa-check check pe-3"></i>Discover hidden gems away
          from the tourist paths.
        </div>
        <div class="mb-5">
          <i class="fa-solid fa-check check pe-3"></i>Experience the city from a
          local’s perspective.
        </div>
        <div class="mb-5">
          <i class="fa-solid fa-check check pe-3"></i>Privately guided by a
          local expert.
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
