<!-- ------------- Quote Section Start ----------------- -->
<section id="quote">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="quote-img d-flex justify-content-center align-items-center">
          <div class="overlay">
            <div class="quote-caption text-white text-center">
              <h3>
                "IT IS NOT THE DESTINATION WHERE YOU END UP BUT THE MISHAPS AND
                MEMORIES YOU CREATE ALONG THE WAY.” <br> — PENELOPE RILEY—
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ------------- Quote Section Start ----------------- -->
