@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Manrope:wght@300&family=Poppins:wght@300&display=swap');

/* Hager variables
--fontFamily : "Inter";
--fs-xl:3.8rem;
--fs-lg:3rem;
--fs-md:1.4rem;
--fs-s-md:1.3rem;
--pt:8rem;
--pt-s:4rem;
--pt-xs:2rem;
--white-color:#fff;
--light-gray:#3c3a3a;
--baby-blue :#009EB7;
--baby-blue-hover :#048599;
--full-viewPort :100vh;
--text-captalized: capitalize;
--text-centered: center; */
#travelerTips {
    --full-viewPort :100vh;
    --fs-lg:3rem;
    --fontFamily : "Inter";
    min-height: var(--full-viewPort);
    font-family: var(--fontFamily);
    --gray-color: #efecec;
    --fs-md:1.4rem;
    --fs-s-md:1rem;

}
#travelerTips h2 {
    font-size: var(--fs-lg);
}
.card {
    background-color: var(--gray-color);
}
.card-body p {
  font-size: var(--fs-s-md);
}
.card-text a {
    text-decoration: none;
    color: var(--blue-color);
}
.UserFeedName {
    color: var(--blue-color);

}
.modal-title {
    font-family: var(--fontFamily);
}
.stars {
    color: var(--yellow-color) !important;
    font-size:  10px;
}