<!-- <p>our-story works!</p> -->
<section
  id="aboutUs__ourStory"
  class="d-flex flex-column justify-content-around"
>
  <div class="container text-center ourStory">
    <div class="row mb-4 aboutUs__ourStoryTitle">
      <h2 class="mt-4 fw-normal">our story</h2>
    </div>
    <div class="row below__ourStoryTilte mb-4">
      <p>
        Local Experience is a platform designed to help you find authentic
        experiences in amazing destinations and a tour marketplace that connects
        tourists and tour guide professionals.
      </p>
    </div>
    <div class="line mb-4"><hr /></div>
    <div class="row below__ourStoryLastTilte">
      <p>
        As the name suggests, we're a group of local Egyptians who were born and
        raised in Cairo, Egypt. We're not official tour guides or anything like
        that, just normal people who love to travel and explore (probably like
        you) and really want to share our local knowledge of Egypt in an honest
        and authentic kind of way.
      </p>
    </div>
    <hr />
  </div>
  <div class="container gap-4" id="aboutUs__city">
    <div class="row text-center aboutUs__ourCity">
      <h2 class="aboutUs__ourCityTitle fw-normal">
        fall in love with any city
      </h2>
      <p>see it like you've never seen it before</p>
    </div>
    <div class="row">
      <div class="col aboutUs__ourCity__descrptn">
        <p class="fw-lighter">
          Secret City Trails is reinventing how we explore and enjoy cities . We
          do so through playful Discovery Walks in 20+ governorate in Egypt.
          Why? Because we believe in playfulness for awakening anyone's
          curiosity. On our Walks, you serendipitously discover new places,
          notice little details in your surroundings - and learn about the
          city.You'll gain a truly new perspective on city discovery.
        </p>
      </div>
      <div class="col d-flex">
        <div class="vl"></div>
        <div>
          <p class="text-dark fw-bolder ms-4">
            “The world is full of magic things , patiently waiting for our
            senses to grow sharper” -Irish poet,W.B. Yeats
          </p>
        </div>
      </div>
    </div>
  </div>
</section>