<p>user-governorate works!</p>
<section id="governorate">
  <div class="governorate-header">
    <div class="governorate-img">
      <!-- <img
        src="../../../assets/Images/eachGovernate/alexandria-5.jpg"
        class="w-100"
        alt=""
      /> -->
    </div>
    <div class="governorate-card">
      <h3>Luxor tours</h3>
      <p>Share your ideas with our Destination expert.</p>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-evenly">
      <!-- /*-------------- tour card -------------*/ -->
      <div class="col-md-4">
        <div class="tour-card">
          <div class="favourite">
            <i class="fa-regular fa-heart"></i>
          </div>
          <div class="tour-card-img">
            <img
              src="../../../assets/Images/eachGovernate/alexandria-4.jpg"
              class="w-100"
              alt=""
            />
          </div>
          <div class="profile">
            <img src="../../../assets/Images/eachGovernate/profile 1.jpg" alt="">
          </div>
          
          <div class="tour-card-details">
            <div>
              <p>Alexandria | 8 days</p>
              <p class="tourCard-price"><span>$2,965</span>  per person</p>
              <h4>Nature and Culture of Alexandria in 8 days</h4>
              <div class="gb">
                <div >
                  <a class="btn btn-subscribe" href="#">Subscribe</a>
                </div>
                <div class="tourCard-review">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <span>  (27,003)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      
     
    </div>
  </div>
</section>
