<section id="signUp">
  <div class="container">
    <div class="row justify-content-evenly flex-md-row flex-column-reverse">
      <div class="col-md-5">
        <div class="mb-3">
          <h3 class="text-center">Create an account</h3>
        </div>

        <div>
          <form [formGroup]="validationForm">
            <div class="mb-3">
              <input
                formControlName="username"
                type="text"
                class="form-control"
                placeholder="Enter Your Name"
              />

              <div
                *ngIf="
                  !flag || (!nameValid && this.validationForm.value['username'])
                "
                class="alert alert-danger my-1"
                role="alert"
              >
                Name must be characters only
              </div>
            </div>

            <div class="mb-3">
              <input
                formControlName="phone"
                type="tel"
                class="form-control"
                placeholder="Enter Your Phone Number"
              />
              <div
                *ngIf="
                  !flag || (!phoneValid && this.validationForm.value['phone'])
                "
                class="alert alert-danger my-1"
                role="alert"
              >
                Phone must be 11 digits
              </div>
            </div>

            <div class="mb-3">
              <input
                formControlName="email"
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Example@mail.com"
              />
              <div
                *ngIf="
                  !flag || (!emailValid && this.validationForm.value['email'])
                "
                class="alert alert-danger my-1"
                role="alert"
              >
                Wrong email format
              </div>
            </div>

            <div class="mb-3">
              <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Enter Your Password"
              />
              <div
                *ngIf="
                  !flag ||
                  (!passwordValid && this.validationForm.value['password'])
                "
                class="alert alert-danger my-1"
                role="alert"
              >
                Weak password
              </div>
            </div>
            <div class="mb-3">
              <input
                formControlName="confirm_password"
                type="password"
                class="form-control"
                placeholder="Confirm Your Password"
              />
              <div
                *ngIf="
                  this.validationForm.value['confirm_password'] &&
                  !this.isValidPassword(this.validationForm.value)
                "
                class="alert alert-danger my-1"
                role="alert"
              >
                Password not matched
              </div>
            </div>

            <input
              (click)="signUp()"
              type="submit"
              class="btn btn-dark w-100 my-3"
              value="Sign Up"
            />

            <div class="mt-2">
              <p class="form-parg text-center">Or</p>
            </div>

            <div class="container">
              <div class="row justify-content-evenly">
                <div class="col-md-6">
                  <div class="fb-btn mb-2">
                    <button type="button" class="btn w-100 brdr">
                      <span class="ms-3">Signup with facebook</span>
                    </button>
                    <i class="fa-brands fa-facebook"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="google-btn">
                    <button type="button" class="btn w-100 brdr">
                      Signup with google
                    </button>
                    <i class="fa-brands fa-google"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <span>Already have an account? <a href="">Login</a></span>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-5 d-flex">
        <div class="signUp-img d-flex w-100 mb-3">
          <img
            src="../../../assets/Images/signUp/Sign Up.jpg"
            class="w-100"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container">
  <div class="row">
    <div class="col">
      <div class="d-grid gap-2 d-md-block">
        <div><button class="btn btn-primary" type="button">Button</button></div>
        <div><button class="btn btn-primary" type="button">Button</button></div>
      </div>
    </div>
  </div>
</div> -->
