#footer {
    background-color: #272727;
    margin-top: 100px;
    color: var(--white-color);
}

#footer hr {
    color: var(--lightgray-color);
    opacity: 1;
}



.footer-ul {
    list-style: none;
}

.footer-ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    transition:all 0.2s ease-in-out;
}

.footer-ul li a:hover{
color: var(--yellow-color);
}

.footer-connect {
    position: relative;
}

.footer-connect::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    top: 50%;
    left: 13%;
    background-color: var(--lightgray-color);
    display: block;
}

.footer-connect::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    top: 50%;
    right: 13%;
    background-color: var(--lightgray-color);
    display: block;
}


.socialMedia>i {
    font-size: 23px;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}

.socialMedia i:nth-child(1) {
    color: var(--fb-color);
}

.socialMedia i:nth-child(2) {
    background: linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialMedia i:nth-child(3) {
    color: #FF0000;
}

.socialMedia i:nth-child(4) {
    color: #1D9BF0;
}

.socialMedia i:hover{
transform: scale(1.1);
}

