<section id="tourDetails_details">
  <div class="container">
    <div class="row rounded-3">
      <div class="col">
        <div class="mb-3">
          <i class="fa-sharp fa-solid fa-location-dot pe-3 icon"></i> Alexandria
        </div>
        <div class="mb-3">
          <i class="fa-solid fa-clock pe-3 icon"></i>8 days
        </div>
        <div class="mb-3">
          <i class="fa-solid fa-users pe-3 icon"></i>Private tours: Only you and
          your host
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <i class="fa-solid fa-pizza-slice pe-3 icon"></i>Food tour
        </div>
        <div class="mb-3">
          <i class="fa-solid fa-person-walking pe-3 icon"></i>Walking tour
        </div>
        <div class="mb-3">
          <i class="fa-solid fa-leaf pe-3 icon"></i>Carbon Neutrals
        </div>
      </div>
      <div class="included_details mt-4">
        <span class="fw-bold">Including:</span> Private Guide - 10 Food & Drink
        Tasting - Vegeterian Alternnatives.
      </div>
    </div>
  </div>
</section>
