<section class="Join mt-6">
 <div class="container two_sec">
    <div class="box d-flex justify-content-evenly">
        <div class="col-5">
            <div class="twoBoxes">
            <div class="box-behined-img">  
            </div>
            <div class="joinUs-img ">
                <img   src="../../../../assets/Images/joinUs/pexels-lady-escabia-3199399.jpg">
            </div>
        </div>
        </div>
        <div class="col-5 d-flex flex-column justify-content-around">
            <div>
                <h1 class="join-title">join us</h1>
                <p class="join-parag">Explore / discover the beauty of other countries.</p>
            </div>
            <div class="d-flex flex-column  w-75 gap-4">
                <button class="join-btn"><a href="#">I am a Traveller</a></button>
                <button class="join-btn"><a href="#">I am a Host</a></button>
            </div>
            <div>
                <p class="join-parag" >Built on solid experience to exceed your expectations. </p>
            </div>
        </div>
    </div>

 </div>
</section>