
<section id="thePlan">
  <div class="container">
     <div class="row">

    <div class="col-8">
        <h2 class="thePlan_title fw-bold">This is the plan</h2>
        <p class="description">
          Check out the plan below to see what you'll get up to with your local
          host.Feel free to personalize this offer.
        </p>
      </div>
      <div class="row mt-3 details">
        <div class="d-flex align-items-center">
          <div><i class="fa-solid fa-location-dot me-3 location_icon icon"></i></div>
          <h4 class="fw-bold">Meeting point</h4>
        </div>
        <span class="ms-4"
          >Downtown's, waterfront Corniche Road, Alexandria</span
        >
      </div>
      <div class="row mt-5 details">
        <div class="d-flex align-items-center">
          <div><i class="fa-sharp fa-solid fa-circle-dot me-3 icon"></i></div>
          <h4 class="fw-bold">City Highlights</h4>
        </div>
        <span class="ms-4"
          >Downtown's, waterfront Corniche Road, Alexandria</span
        >
      </div>
      <div class="row mt-5 details">
        <div class="d-flex align-items-center">
          <div><i class="fa-sharp fa-solid fa-circle-dot me-3 icon"></i></div>
          <h4 class="fw-bold">Hidden Gems</h4>
        </div>
        <span class="ms-4"
          >Downtown's, waterfront Corniche Road, Alexandria</span
        >
      </div>
      <div class="row mt-5 details">
        <div class="d-flex align-items-center">
          <div><i class="fa-sharp fa-solid fa-circle-dot me-3 icon"></i></div>
          <h4 class="fw-bold">Magical Storytelling</h4>
        </div>
        <span class="ms-4"
          >Downtown's, waterfront Corniche Road, Alexandria</span
        >
      </div>
      <div class="row mt-5 details">
        <div class="d-flex align-items-center">
          <div><i class="fa-sharp fa-solid fa-circle-dot me-3 icon"></i></div>
          <h4 class="fw-bold">Special Treat</h4>
        </div>
        <span class="ms-4"
          >Downtown's, waterfront Corniche Road, Alexandria</span
        >
        <hr class="mt-5 line">
      </div>
    </div>
  </div>
</section>
