<!-- ***************Start Popular-Destinations Section****************** -->
<section id="popular-dest">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="popular-dest-caption text-center">
          <h2>POPULAR DESTINATIONS</h2>
          <hr />
          <p>
            All of our experiences are small scale, authentic, personal, and
            have a direct economic and social impact on the lives of the people
            who provide them. Explore some of our latest local travel
            experiences below.
          </p>
        </div>
      </div>
    </div>
    <div class="row row-second">
      <div *ngFor="let tourCard of tourCards" class="col-md-4">
        <app-tour-card [tourCard]="tourCard"></app-tour-card>
      </div>
    </div>
  </div>
</section>
<!-- ***************End Popular-Destinations Section****************** -->
