<!-- <p>why-book works!</p> -->
<section id="aboutUs__whyBook" class="w-50 m-auto d-flex flex-column justify-content-center gap-4">

    <div class="row row__responsive">
        <div class="col-sm-6 about__card">
          <div class="card shadow p-3  bg-body rounded  ">
            <div class="card-body text-center">
                <i class="fa-solid fa-dollar-sign fs-1"></i>
              <p class="card-text fs-4">More affordable than before.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 about__card">
          <div class="card shadow p-3 bg-body rounded ">
            <div class="card-body text-center">
                <i class="fa-solid fa-camera-retro fs-1"></i>
              <p class="card-text fs-4">Personalized images available.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row__responsive">
        <div class="col-sm-6 about__card">
          <div class="card shadow p-3  bg-body rounded ">
            <div class="card-body text-center">
                <i class="fa-solid fa-gear fs-1 "></i>
              <p class="card-text fs-4"> Customizable tour.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 about__card">
          <div class="card shadow p-3 bg-body rounded ">
            <div class="card-body text-center">
                <i class="fa-solid fa-message fs-1"></i>
              <p class="card-text fs-4">Customer support</p>
            </div>
          </div>
        </div>
      </div>
</section>