<!-- ----------- Explore Section Start ----------- -->
<section id="explore">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="explore-img">
                    <div class="overlay d-flex align-items-end">
                        <div class="explore-caption text-white">
                            <h2>Plan your best trip ever</h2>
                            <p>we have got everything you need to go big in 2023</p>
                            <button class="btn text-white">Explore Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ----------- Explore Section End ----------- -->