/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #272727;
    --white-color: #FFF;
    --yellow-color: #FFC857;
    --blue-color: #009FB7;
    --gray-color: #696773;
    --lightgray-color: #e0e0e0;
    --red-color: #DB3A34;
    --fb-color: #1877F2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
