<p>user-payment works!</p>
<section id="payment">
  <div class="container mt-5">
    <div class="row justify-content-evenly">
      <div class="col-md-8">
        <div class="billingAddres">
          <h3>Billing Addres</h3>
          <table>

          </table>
        </div>
        
        <select name="" id="countries">
          <option value="">Ismailia</option>
        </select>

        <a href="#">Enter a coupon</a>
        <hr />
        <div>
          <h3>Cancellation Policy</h3>
          <p>
            Partial refund :Get back every night that remains 24 hours after you
            cancel. No refund of nights you spent or the service fee.
          </p>
        </div>
        <hr />
        <div class="notes">
          <div><i class="fa-regular fa-note-sticky"></i></div>
          <div>
            <p>
              your reservation won't be confirmed until the Host accepts your
              request(within 24 hours)
            </p>
            <p>You won't be charged until then</p>
          </div>
        </div>
        <hr />
        <div>
          <a class="btn btn-request" href="#">Request to book</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="payment-card">
          <div class="payment-card-tourDetails">
            <div class="payment-card-img">
              <img
                src="../../../assets/Images/Alex-card/alexandria-3.jpg"
                class="w-100"
                alt=""
              />
            </div>
            <div>
              <p>Alexandria | 8 days</p>
            </div>
          </div>
          <hr />
          <div class="payment-card-priceDetails">
            <div>
              <p>Booking Fee</p>
              <p>Subtotal</p>
            </div>
            <div>
              <p>EGP 0.00</p>
              <p>EGP7,172.96</p>
            </div>
          </div>
          <pre>



            
          </pre>
          <hr />
          <div class="payment-card-priceTotal">
            <p>Total(EGP)</p>
            <p>EGP7,172.96</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
