<!---------------- Tour Card Start---------------- -->
<div class="tour-card">
    <div class="favourite">
      <i class="fa-regular fa-heart"></i>
    </div>
    <div class="tour-card-img">
      <img
        src="{{tourCard.cardImg}}"
        class="w-100"
        alt=""
      />
    </div>
    <div class="profile">
      <img
        src="{{tourCard.profileImg}}"
        alt=""
      />
    </div>

    <div class="tour-card-details">
      <div>
        <p>Alexandria | 8 days</p>
        <p class="tourCard-price "><span  class="fw-bold">{{tourCard.price}}</span> per person</p>
        <h4 class="fw-bold">
          Nature and Culture of Alexandria in 8 days
        </h4>
        <div class="gb">
          <div>
            <a class="btn btn-subscribe fw-bold" href="#">Subscribe</a>
          </div>
          <div class="tourCard-review">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <span> (27,003)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<!---------------- Tour Card End---------------- -->
