<div class="addToCart-card">
    <div class="addToCart-card-img">
      <img
        src="{{card.src}}"
        class="w-100"
        alt=""
      />
    </div>
    <div class="addToCart-card-details">
      <div class="addToCart-card-details-price">
        <p class="person">5 persons X 1,000 EGP</p>

        <p class="price fw-bold">{{card.price}}</p>

        <p class="price">{{card.price}}</p>

      </div>

      <div class="addToCart-card-details-title">
        <div>
          <h5 class="fw-bold">Nature and Culture of Alexandria</h5>
          <p>Thursday,February 9,2023 | 9:00 AM</p>
        </div>
        <div class="addToCart-card-details-deleteIcon">
          <i class="fa-regular fa-trash-can"></i>
        </div>
      </div>
    </div>
  </div>